@model WeRun_App.Entities.RunHistory

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RunHistory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalRuns)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalRuns)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalDistance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalDistance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCalories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCalories)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BestTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BestTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BestDistance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BestDistance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Route)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Route.RouteId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="HistoryId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
